.header {
    margin: 0 auto;
    background-color: aqua;
    width: 100%;
    height: 30vh;
}

.main {
    height: 70vh;
    background-color: #f2f2f2;
    margin: 0;
}

.buttons { 
    padding: 20px 50px;
    align-items: flex-end;

}