.header {
    padding: 30px;
    text-align: center;
    background: #3A69D2;
    color: white;
    font-size: 30px;
    margin: 20px 50px;
    border-radius: 10px;
  }
  
body {
    background-color: #1F2937;
}

button {
    background-color: #D1D4F4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}